@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
  width: 100%;
  scrollbar-width: 25px; 
  scrollbar-color: #c770f0 rgb(20, 16, 39); 
  scroll-behavior: smooth;
}

.hidden-until-loaded {
  visibility: hidden;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.transition-section {
  transition: transform 0.7s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide-in-down {
  transform: translateY(0);
  animation: slideDown 0.7s forwards;
}

.slide-in-up {
  transform: translateY(100%);
  animation: slideUp 0.7s forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

body::-webkit-scrollbar {
  width: 25px;             
}

body::-webkit-scrollbar-track {
  background: rgb(20, 16, 39);      
}

body::-webkit-scrollbar-thumb {
  background-color: #c770f0; 
  border-radius: 1px; 
  border: 1px solid rgba(178, 121, 216, .959);;  
}



.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.flex-grow {
  flex-grow: 1;
}

.button-efecto-slide {
  position: relative;
  overflow:hidden;
}

.button-efecto-slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(206, 95, 248, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.button-efecto-slide:hover::before {
  transform: translateX(0);
}


.space-background {
  position: relative;
  background-color: rgb(20, 16, 39);
}

.space-background::before,
.space-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

.space-background {
  position: relative;
  background-color: rgb(20, 16, 39);
}

.space-background::before,
.space-background::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}


.space-background::before {
  background: transparent;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.3) 2px, transparent 2px), 
                    radial-gradient(circle, rgba(255, 255, 255, 0.5) 1px, transparent 1px);
  background-size: 300px 300px, 500px 500px; 
  background-position: 15% 25%, 75% 65%; 
  animation: twinkling 3s linear infinite backwards running;
}


.space-background::after {
  background: transparent;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.8) 3px, transparent 3px),
                    radial-gradient(circle, rgba(255, 255, 255, 1) 2.5px, transparent 2.5px);
  background-size: 400px 400px, 600px 600px; 
  background-position: 70% 40%, 80% 70%; 
  animation: twinkling 5s linear infinite backwards running;
}



@keyframes twinkling {
  0% { opacity: 1; }
  50% { opacity: 0.1; }
  100% { opacity: 1; }
}




