<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Siro's Portfolio</title>
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body class="leading-loose flex justify-center bg-light-background dark:bg-dark-background text-light-text dark:text-dark-text font-body">
    <slot />
  </body>
</html>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
